<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Yahoo KeyKey 2</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.github.teddychan.inputmethod.YahooKeyKey2</string>
	<key>CFBundleName</key>
	<string>Yahoo KeyKey 2</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.2</string>
	<key>CFBundleVersion</key>
	<string>5</string>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>com.github.teddychan.inputmethod.YahooKeyKey2.Cangjie</key>
			<dict>
				<key>TISIntendedLanguage</key>
				<string>zh-Hant</string>
				<key>tsInputModeCharacterRepertoireKey</key>
				<array>
					<string>Hant</string>
				</array>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smTradChinese</string>
			</dict>
			<key>com.github.teddychan.inputmethod.YahooKeyKey2.Simplex</key>
			<dict>
				<key>TISIntendedLanguage</key>
				<string>zh-Hant</string>
				<key>tsInputModeCharacterRepertoireKey</key>
				<array>
					<string>Hant</string>
				</array>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smTradChinese</string>
			</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>com.github.teddychan.inputmethod.YahooKeyKey2.Cangjie</string>
			<string>com.github.teddychan.inputmethod.YahooKeyKey2.Simplex</string>
		</array>
	</dict>
	<key>InputMethodConnectionName</key>
	<string>com.github.teddychan.inputmethod.YahooKeyKey2_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>InputController</string>
	<key>InputMethodServerDelegateClass</key>
	<string>InputController</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>TISInputSourceID</key>
	<string>com.github.teddychan.inputmethod.YahooKeyKey2</string>
	<key>TISIntendedLanguage</key>
	<string>zh-Hant</string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Hant</string>
	</array>
</dict>
</plist>
