<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Yahoo KeyKey 2</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.dragonapp.inputmethod.yahoo-keykey</string>
	<key>CFBundleName</key>
	<string>Yahoo KeyKey 2</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.2</string>
	<key>CFBundleVersion</key>
	<string>20</string>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>tsInputModeListKey</key>
		<dict>
			<key>com.dragonapp.inputmethod.yahoo-keykey.Cangjie</key>
			<dict>
				<key>TISIntendedLanguage</key>
				<string>zh-Hant</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>YahooKeyKey.tiff</string>
				<key>tsInputModeCharacterRepertoireKey</key>
				<array>
					<string>Hant</string>
				</array>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeMenuIconFileKey</key>
				<string>YahooKeyKey.tiff</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>YahooKeyKey.tiff</string>
				<key>tsInputModeScriptKey</key>
				<string>smTradChinese</string>
			</dict>
			<key>com.dragonapp.inputmethod.yahoo-keykey.Simplex</key>
			<dict>
				<key>TISIntendedLanguage</key>
				<string>zh-Hant</string>
				<key>tsInputModeAlternateMenuIconFileKey</key>
				<string>YahooKeyKey.tiff</string>
				<key>tsInputModeCharacterRepertoireKey</key>
				<array>
					<string>Hant</string>
				</array>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeMenuIconFileKey</key>
				<string>YahooKeyKey.tiff</string>
				<key>tsInputModePaletteIconFileKey</key>
				<string>YahooKeyKey.tiff</string>
				<key>tsInputModeScriptKey</key>
				<string>smTradChinese</string>
			</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>com.dragonapp.inputmethod.yahoo-keykey.Cangjie</string>
			<string>com.dragonapp.inputmethod.yahoo-keykey.Simplex</string>
		</array>
		<key>tsInputMethodIconFileKey</key>
		<string>YahooKeyKey.tiff</string>
	</dict>
	<key>InputMethodConnectionName</key>
	<string>com.dragonapp.inputmethod.yahoo-keykey_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>InputController</string>
	<key>InputMethodServerDelegateClass</key>
	<string>InputController</string>
	<key>LSMinimumSystemVersion</key>
	<string>26.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://www.dragonapp.com/yahoo-keykey-2/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>p+F/ivF5bAYcmuNuCMNHcRv123A6LHFpCBagFm7Adu8=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
	<key>TISInputSourceID</key>
	<string>com.dragonapp.inputmethod.yahoo-keykey</string>
	<key>TISIntendedLanguage</key>
	<string>zh-Hant</string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Hant</string>
	</array>
</dict>
</plist>
